<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <title>Track | ejs</title>
    <link rel="stylesheet" type="text/css" href="dist/bundle.css" />
</head>

<body>
    <div id="main"></div>

    <script type="text/javascript" src="lib/three.js"></script>
    <script type="text/javascript" src="lib/ar.js"></script>
    <script type="text/javascript" src="lib/FBXLoader.js"></script>
    <script type="text/javascript" src="lib/tracking-min.js"></script>
    
    <script type="text/javascript" src="dist/bundle.js"></script>

    <script type="text/javascript">
        
    </script>
</body>

</html>